<%= form_for @tweet do |f| %>
	<div class="col-md-12" id="tweet-area-div">
		<%= f.text_area :body, placeholder: "What's going on ?", class: 'form-control', id: 'txt-area' %>
		<%= f.submit 'Tweet', class: 'btn btn-info', id: 'tweet-btn' %>
	</div>
<% end %>