<%= form_for @tweet do |f| %>
	<div class="row" id="tweet-area-div">
		<div class="col-md-2">
			<%= image_tag("owl.png", id: 'tweet-creation-box-image') %>
		</div>
		<div class="col-md-10">
			<%= f.text_area :body, placeholder: "What's going on?", class: 'form-control', id: 'txt-area' %>
		</div>

		<div class="row">
			<div class="col-md-4 col-md-offset-8">
				<%= f.submit 'Tweet', class: 'btn btn-info', id: 'tweet-btn' %>
				<div id="counter">140</div>
			</div>
		</div>
	</div>
<% end %>
