<div class="nav navbar-right" id="search-suggestions-box">
	<% if @users_found %>
	  <% @users_found.each do |uf| %>
	    <li class="search-suggestions-box-items">
	    	<span><%= link_to image_tag current_user.image.url(:thumb), class: "user-image-on-search-suggestion-box" %></span>
	    	<strong><%= uf.fullname %></strong>
	    	<small><%= uf.username %></small>
	    	<h6 class="friendship-status">Status</h6>
	    </li>
	  <% end %>
	<% end %>
</div>