// .row {
// 	border: solid 1px red;
// }
// [class^="col"] {
// 	border: solid 1px blue;
// }

body {
	background-color: honeydew;
}

.signin_signup {
	width: 450px;
	bottom: 74px;
	position: relative;
}

.jumbotron-signin_signout {
	background-color: #58aee9;
}

.devise-header {
	color: #FFF;
	background-color: #0973ba;
	border-color: #ddd;
	padding: 1px 15px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}