body {
	background-color: honeydew;
}

.signin_signup {
	width: 450px;
	bottom: 74px;
	position: relative;
}

.jumbotron-signin_signout {
	background-color: #58aee9;
}

.devise-header {
	color: #FFF;
	background-color: #0973ba;
	border-color: #ddd;
	padding: 1px 15px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.msg {
	background-color: #f5f8fa;
	text-align: center;
	width: 50%;
	height: 40px;
	line-height: 40px;
	border: 1px solid #e1e8ed;
	position: absolute;
	z-index: 1000;
	left: 25%;
	bottom: 956px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

.container-custom {
	margin-top: 60px;
}

#signup-owl {
	position: relative;
    left: 1000px;
    top: 154px;
}

.trends {
	width: 290px;
    min-height: 425px;
    border: 1px solid #e1e8ed;
    background-color: white;
    position: relative;
    border-radius: 5px;
    bottom: 27px;
    right: 16px;

    h4 {
    	color: #66757f;
    	font-weight: 300;
    	margin-top: 20px;
    }

    li {
    	list-style: none;

    	div {
    		&:first-child { 
    			color: #1b95e0;
    			font-weight: bold;
    		}

    		&:last-child {
    			color: #8899a6;
    			font-size: 12px;
    		}
    	}
    }
}

.hashtag-color {
	color: #1b95e0;
	font-weight: bold;
}