#hashtag-show-position {
	margin-top: 50px;
}

#hashtag-header {
	background-color: #1DA1F2;
    text-align: center;
    color: white;

    h2 {
    	position: relative;
    	bottom: 5px;
    }
}

#hashtag-trends-position {
	margin-top: 37px;
}

#hashtag-tweets {
	margin-top: 12px;
    border-top: 1px solid #e1e8ed;
    border-radius: 5px;
    
    .feed:first-child {
    	border-top-left-radius: 5px;
    	border-top-right-radius: 5px;
    }

    .feed:last-child {
    	border-bottom-left-radius: 5px;
    	border-bottom-right-radius: 5px;
    }
}