#tweet-area-div {
	border: 1px solid #e1e8ed;;
	height: 58px;
	background-color: #E8F5FD;
	width: 585px;
	margin-left: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	div:last-child {
				
		div {
			position: relative;
			top: 13px;
			right: 10px;
		}

		span {
			font-size: 25px;
			left: 76px;
			top: 6px;
			padding: 5px 9px 5px 9px;
			border-radius: 5px;
			color: #2e9bc3;

			&:hover {
				cursor: pointer;
				border: 1px solid #2e9bc3;
				padding: 4px 8px 4px 8px;
			}
		}
	}
}

#txt-area {
	$placeholder-color: #1b95e0;
	$placeholder-line-height: 1.5em;

	height: 36px;
	width: 506px;
	position: relative;
	left: -45px;
	top: 9px;
	border-radius: 2px;
	resize: none;

	&::-webkit-input-placeholder { /* WebKit browsers */
	  color: $placeholder-color;
	  line-height: $placeholder-line-height;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	  color: $placeholder-color;
	  line-height: $placeholder-line-height;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
	  color: $placeholder-color;
	  line-height: $placeholder-line-height;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10+ */
	  color: $placeholder-color;
	  line-height: $placeholder-line-height;
	}
}

.txt-area-expanded::-moz-placeholder {
		color: #ccd6dd !important;
}

#tweet-btn {
	float: right;
	margin-top: 5px;
	height: 38px;
	width: 97px;
}

#counter {
	float: right;
	position: relative;
	right: 10px;
	top: 13px;
	color: #707e88;
}