.user-info-hover-feed {
	position: absolute;
	display: none;
	z-index: 1;
	background-color: white;
	width: 290px;
	height: 192px;
	border-radius: 5px;
	border: 1px solid #e1e8ed;
	top: 60px;
}

// .upper-part {
// 	min-height: 96px;
// 	border-top-left-radius: 4px;
// 	border-top-right-radius: 4px;

// 	a {
// 		display: block !important;
// 		height: 96px;
// 	}
// }

// #upper-part-no-img {
// 	@extend .upper-part;
// 	background-color: #1DA1F2;
// }

// #upper-part-with-img {
// 	@extend .upper-part;
// 	background-repeat: no-repeat;
// 	background-position: center;
// 	background-size: cover;
// }