.user-info-hover-feed {
	position: absolute;
	display: none;
	z-index: 1;
	background-color: white;
	width: 290px;
	height: 192px;
	border-radius: 5px;
	border: 1px solid #e1e8ed;
	top: 60px;
}

#user-info-hover-owl {
	height: 72px;
	width: 72px;
	border: solid 3px white;
	cursor: pointer;
	position: relative;
	bottom: 25px;
	left: -5px;
	border-radius: 7px;
	background-color: #1b95e0;
}

#user-info--hover-user-name {
	position: relative;
	right: 20px;
	
	h4 a {
		color: black;
	}

	h6 a{
		position: relative;
		bottom: 5px;
		left: 30px;
		color: #707e88;
	}
}