.feed {
	$border: 1px solid #e1e8ed; 
	border-bottom: $border;
	border-right: $border;
	border-left: $border;
	background-color: white;
	height: 100%;
	min-height: 100px;

	div>h6 {
		position: relative;
		right: 30px;
	}

	p {
		word-wrap: break-word;
		position: relative;
		right: 30px;
		bottom: 8px;
	}
}

.feed-image {
	height: 48px;
	width: 48px;
	position: relative;
	bottom: -10px;
	left: -5px;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.tweet-images {
	height: 336px;
	width: 504px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	right: 29px;
	border-radius: 5px;
	margin-bottom: 45px;
}