#tweet-area-div {
	border: 1px solid #e1e8ed;;
	height: 58px;
	background-color: #E8F5FD;
	width: 585px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#tweet-area-options {

	div:first-child {
		position: relative;
		top: 18px;
		right: 10px;

		#camera {
			font-size: 25px;
			left: 76px;
			top: 6px;
			padding: 3px 9px 3px 9px;
			border-radius: 5px;
			color: #2e9bc3;
			display: none;

			&:hover {
				cursor: pointer;
				border: 1px solid #2e9bc3;
				padding: 2px 8px 2px 8px;
			}			
		}

		input {	display: none; }
	}

	div:last-child {
		position: relative;
		top: 13px;
		right: 10px;

		#tweet-btn {
			float: right;
			margin: 5px 18px 0px 0px;
			height: 38px;
			width: 97px;
			display: none;
		}

		#counter {
			float: right;
			position: relative;
			right: 10px;
			top: 13px;
			color: #707e88;
			display: none;
		}
	}
}

#txt-area {
	$placeholder-color: #1b95e0;

	height: 36px;
	width: 513px;
	position: relative;
	left: -45px;
	top: 9px;
	border-radius: 2px 2px 0px 0px;
	border-color: #A4D9F9;
	resize: none;

	&::-webkit-input-placeholder { color: $placeholder-color; } /* WebKit browsers */
	&:-moz-placeholder { color: $placeholder-color; } /* Mozilla Firefox 4 to 18 */
	&::-moz-placeholder { color: $placeholder-color; } /* Mozilla Firefox 19+ */
	&:-ms-input-placeholder { color: $placeholder-color; } /* Internet Explorer 10+ */
}

.txt-area-expanded::-moz-placeholder {
		color: #ccd6dd !important;
}

#tweet-area-attachments {
	background-color: #f1f1f1;
	border: 1px solid #A4D9F9;
	width: 513px;
	height: 164px;
	position: relative;
	left: 87px;
	top: 88px;
	border-radius: 0px 0px 2px 2px;
	display: none;

	#tweet-area-attachments-target {
		height: 115px;
		width: 115px;
		border-radius: 6px;
		position: relative;
		left: 10px;
		bottom: -9px;
		display: none;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		#remove-photo {
			border: solid black 1px;
			background-color: black;
			color: white;
			font-size: 14px;
			border-radius: 11px;
			padding: 1px 1px 0px 1px;
			position: absolute;
			left: 94px;
			top: 3px;
			z-index: 1;
			cursor: pointer;
		}
	}
}


#tweet-creation-box-image-user {
	height: 32px;
	width: 32px;
	position: relative;
	top: 11px;
	left: 15px;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}