$border: solid 3px white;

@mixin images-common-size($height, $width) {
	height: $height;
	width: $width;
}

@mixin images-common-border-and-position($bottom, $left) {
	bottom: $bottom;
	left: $left;
	border-radius: 5px;
	position: relative;
}

.feed-image {
	@include images-common-size(48px, 48px);
	@include images-common-border-and-position(-10px, -5px);
}

.thumb-image { 
	@include images-common-size(70px, 70px);
	@include images-common-border-and-position(20px, 15px);
	border: $border;
}

.thumb-image-home { 
	@include images-common-size(70px, 70px);
	@include images-common-border-and-position(25px, -5px);
	border: $border;
}

.medium-image { 
	@include images-common-size(96px, 288px);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#tweet-creation-box-image {
	@include images-common-size(48px, 48px);
	position: relative;
	top: 8px;
	left: 0px;
}

#nav-bar-image {
	@include images-common-size(41px, 41px);
	position: relative;
	bottom: -11px;
	cursor: pointer;
	float: right;
	right: 90px;
}

.search-suggestion-box-image {
    @include images-common-size(32px, 32px);
    border-radius: 4px;
}

#navbar-signin-signout-image {
	@include images-common-size(120px, 120px);
	margin-top: -45px;
	float: right;
	margin-right: 495px;
}