$border: solid 3px white;

@mixin images-common-size($height, $width) {
	height: $height;
	width: $width;
}

@mixin images-common-border-and-position($bottom, $left) {
	bottom: $bottom;
	left: $left;
	border-radius: 5px;
	position: relative;
}

.thumb-image { 
	@include images-common-size(70px, 70px);
	@include images-common-border-and-position(20px, 15px);
	border: $border;
}

#tweet-creation-box-image-owl {
	@include images-common-size(48px, 48px);
	position: relative;
	top: 8px;
	left: 5px;
}

#nav-bar-image-owl {
	position: relative;
	bottom: -11px;
	cursor: pointer;
	float: right;
	right: 90px;
	@include images-common-size(41px, 41px);
}

#navbar-signin-signout-image {
	@include images-common-size(120px, 120px);
	margin-top: -45px;
	float: right;
	margin-right: 495px;
}