.navbar-custom {
	border-bottom: 1px solid rgba(0,0,0,0.15);
	margin-bottom: 10px;
	height: 46px;

	div>ul:nth-child(1) a:hover {
		color: #1b95e0;
	}
}

@mixin border-on-hover() {
	border-bottom: 5px solid #1b95e0;
    transition: all .15s ease-in-out;
    height: 50px;
}

.add-border-to-nav-links {
	@include border-on-hover();
}

.add-border-to-nav-links-home {
	@include border-on-hover();
}

@mixin search-suggestions-box-common($bottom, $color) {
	position: relative;
	bottom: $bottom;
	color: $color;
}

#search-box {
    border-radius: 15px;
    width: 221px;
    height: 32px;
    font-size: 12px;
}

@mixin search-suggestions-box-before-after($top, $color) {
	position: absolute;
    right: 310px;
	top: $top;
    border-style: solid;
    border-width: 0px 12px 10px 12px;
    border-color: $color transparent;
}

#search-suggestions-box {
	position: absolute;
    right: 6px;
    top: 53px;
    border: 1px solid #eee;
    width: 350px;
    border-radius: 4px;

    &:after { @include search-suggestions-box-before-after(-10px, #FFFFFF) }

	&:before { @include search-suggestions-box-before-after(-11px, #eee) }
}

#search-and-suggestion-box-position {
	position: relative;

	form {
		position: absolute;
		right: 135px;
		top: 3px;
	}
}

.search-suggestions-box-link {
	height: 55px;
	background-color: #fff;

	&:hover {
		background-color: #1b95e0 !important;

	    strong, small, h6 {	color: white; }
	}

	strong {
		@include search-suggestions-box-common(8px, black);
	}

	small {
		@include search-suggestions-box-common(8px, #707e88);
	}

	h6 {
		@include search-suggestions-box-common(25px, #707e88);
		left: 36px;
	}
}

.navbar-dropdown-position {
	position: relative;
	right: 90px;
	bottom: 20px;

	li.dropdown.open > a {
		background-color: #fff0;

		&:focus {
		  background-color: #fff0;
		}
	}

	li.dropdown.open li>a:hover {
		background-color: #1b95e0 !important;
		color: white;
	}
}