#info-bar {
	position: relative;
    right: 15px;

	div {
		width: 100px;
		height: 65px;
		padding: 0px;
		z-index: 0;

		h3 {
			position: relative;
			bottom: 20px;
			z-index: -1;
			color: #1b95e0;
		}
	}
}

#user-info-show {
	position: absolute;
    left: 430px;
    top: -105px;
    
    div {
	    height: 210px;
	    width: 210px;
	    background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		border-radius: 12px;
	    border: 5px solid white;
	}

	h4 { font-weight: bold;	}

	> :nth-child(3) { color: #707e88; }
}


.show-friendship-button {
	margin-top: 10px;
	width: 100px;
	height: 40px;
}

.show-following {
	border: solid 1px #eee;
	background-color: white;
	border-radius: 5px;
	width: 290px;
	height: 263px;
	margin: 10px 10px 0px 0px;
}

.show-following-friendship-button {
	height: 30px;
	width: 95px;
	float: right;
	position: relative;
	right: 15px;
	bottom: 60px;
}

.show-following-username {
	position: relative;
	bottom: 55px;
	left: 15px;
}

.info-bar-border {
	border-bottom: solid 1px #e1e8ed;
	background-color: white;
}

.info-bar-border-color {
	border-bottom: 5px solid #1b95e0;
    transition: all .15s ease-in-out;
}

.info-bar-link {
	color: #697882;
	padding: 8px 23px 31px 23px;
	&:hover {
        color: black;
		text-decoration: none;
    }
}