#info-bar {
	position: relative;
    right: 15px;

	div {
		width: 100px;
		height: 65px;
		padding: 0px;
		z-index: 0;

		h3 {
			position: relative;
			bottom: 20px;
			z-index: -1;
			color: #1b95e0;
		}
	}
}

#user-info-show {
	position: absolute;
    left: 430px;
    top: -105px;
    z-index: 999;

    
    > :first-child {
	    height: 210px;
	    width: 210px;
	    background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		border-radius: 12px;
	    border: 5px solid white;
	    background-color: #eee;
	}

	h4 { font-weight: bold;	}

	> :nth-child(3) { color: #707e88; }

	span {
		font-size: 50px;
		color: white;
		position: absolute;
    	left: 36%;
    	top: 16%;
    	display: none;

    	&:hover { cursor: pointer; }
	}

	h3 {
		color: white;
		position: absolute;
    	left: 14%;
    	top: 23%;
    	font-weight: bold;
    	display: none;

    	&:hover { cursor: pointer; }
	}

	#user-info-show-edit {
		height: 200px;
	    background-color: black;
	    opacity: 0.6;
	    position: relative;
	    bottom: 293px;
	    width: 200px;
	    left: 5px;
	    border-radius: 7px;
	    display: none;

	    &:hover {
	    	border: solid 5px #1DA1F2;
	    	cursor: pointer;
	    }
	}
}


.show-friendship-button {
	margin-top: 10px;
	width: 100px;
	height: 40px;
}

.show-following {
	border: solid 1px #eee;
	background-color: white;
	border-radius: 5px;
	width: 290px;
	height: 263px;
	margin: 10px 10px 0px 0px;
}

.show-following-friendship-button {
	height: 30px;
	width: 95px;
	float: right;
	position: relative;
	right: 15px;
	bottom: 60px;
}

.show-following-username {
	position: relative;
	bottom: 55px;
	left: 15px;

	h6 {
		color: #707e88;
		position: relative;
		bottom: 5px;
	}
}

.info-bar-border {
	border-bottom: solid 1px #e1e8ed;
	background-color: white;
}

.info-bar-border-color {
	border-bottom: 5px solid #1b95e0;
    transition: all .15s ease-in-out;
}

.info-bar-link {
	color: #697882;
	padding: 8px 23px 31px 23px;
	&:hover {
        color: black;
		text-decoration: none;
    }
}

// adds a layer on top of everything when the user clicks on the Edit Profile button
#overlay {
    background-color: #eee;
    opacity: 0.8;
    z-index: 997;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: none;
}

#image-header {
	height: 570px;
	margin-top: 50px;
	background-color: #1DA1F2;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 998;

	#image-header-edit {
		height: 570px;
    	background-color: black;
    	opacity: 0.6;
    	display: none;

    	&:hover {
    		cursor: pointer;
    		border: #1DA1F2 solid 5px;
    	}
	}

	span {
		font-size: 50px;
		color: white;
		position: absolute;
    	left: 50%;
    	top: 78%;
    	display: none;

    	&:hover { cursor: pointer; }
	}

	h3 {
		color: white;
		position: absolute;
    	left: 44%;
    	top: 85%;
    	font-weight: bold;
    	display: none;

    	&:hover { cursor: pointer; }
	}
}

#profile-edit-cancel {
	display: none;
	position: relative;
	z-index: 998;
	right: 213px;
    height: 40px;
    width: 100px;
    top: 5px;
}

#profile-edit-save {
	display: none;
	position: relative;
	z-index: 998;
	right: 208px;
    height: 40px;
    width: 120px;
    top: 5px;
}

@mixin arrow-on-top($top, $right, $color) {
	position: absolute;
    right: $right;
	top: $top;
    border-style: solid;
    border-width: 0px 12px 10px 12px;
    border-color: $color transparent;
    content: "";
}

.img-uploader {
	position: absolute;
	width: 220px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	border: 1px #eee solid;
	background-color: white;
	border-radius: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	z-index: 1;
	color: #707e88;
	cursor: pointer;
	display: none;

	&:after { @include arrow-on-top(-9px, 95px, #FFFFFF); }

	&:before { @include arrow-on-top(-10px, 95px, #eee); }

	li {
		list-style: none;
		margin-top: 0px;
    	padding-top: 1px;
    	padding-bottom: 1px;

		&:nth-child(3) {
			border-bottom: 1px solid #eee;
		    margin-top: 3px;
		    margin-bottom: 4px;
		}

		&:nth-child(2) {
			padding: 0px;

			a {
				color: #707e88;
				display: block;
				padding: 8px;

				&:hover{
				    background-color: #1b95e0;
				    color: white;
				    text-decoration: none;
				}
			}
		}

		&:hover { 
			background-color: #1b95e0;
			color: white;
		}
	}
}

#image-header-img-uploader {
	@extend .img-uploader;
	right: 899px;
	top: 500px;
}

#show-user-profile-img-uploader {
	@extend .img-uploader;
    right: 1px;
    top: 140px;
}

#choose-photo-btn-img-header, #choose-photo-submit-btn-img-header, #choose-photo-btn-user-profile-img, #choose-photo-submit-btn-user-profile-img {
	display: none;
}

#feed-position {

	>div:first-child {
		margin-top: 10px;
		border-top: solid 1px #eee;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
}

#show-user-following-small-img {
	height: 72px;
	width: 72px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border: solid 3px white;
	cursor: pointer;
	position: relative;
	bottom: 25px;
	left: 10px;
	border-radius: 7px;
	background-color: #eee;
}

#show-user-following-position {
	margin-bottom: 40px;
    right: 17px;
}