// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user-info {
	background-color: white;
}

.feed p{
	word-wrap: break-word;
}

.left-menu-info {
	padding-left: 10px;
}

#tweet-btn {
	float: right;
	margin-top: 5px;
}

#counter {
	float: right;
	margin: 10px 10px 0px 0px;
}

/*.row {
	border: solid 1px red;
}
[class^="col"] {
	border: solid 1px blue;
}
*/
