#image_header {
	height: 400px;
	width: 100%;
	margin-top: -21px;
}

.feed p{
	word-wrap: break-word;
}

.margin-show-view {
	position: relative;
	bottom: 7px;
	z-index: -1;
}

#medium-user-profile-image {
	position: absolute;
    top: -160px;
    left: 150px;
}

.show-friendship-button {
	margin-left: 250px;
	margin-top: 10px;
	width: 100px;
	height: 40px;
}

.show-following {
	border: solid 1px #eee;
	background-color: white;
	border-radius: 5px;
	width: 290px;
	height: 263px;
	margin: 10px 10px 0px 0px;
}

.show-following-large-image {
	height: 96px;
	width: 288px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.show-following-thumb-image {
	height: 70px;
	width: 70px;
	border: solid 3px white;
	bottom: 25px;
	left: 15px;
	border-radius: 5px; 
	position: relative;
}

.show-following-friendship-button {
	height: 30px;
	width: 95px;
	float: right;
	position: relative;
	right: 15px;
	bottom: 60px;
}

.show-following-username {
	position: relative;
	bottom: 55px;
	left: 15px;
}

.info-bar-border {
	border-bottom: solid 1px #eee;
	background-color: white;
}

.info-bar-border-color {
	border-bottom: 5px solid #1b95e0;
    transition: all .15s ease-in-out;
}

.info-bar-width-height-padding {
	width: 100px;
	height: 65px;
	padding: 0px;
	z-index: 0;
}

.info-bar-link {
	color: #697882;
	padding: 8px 23px 31px 23px;
	&:hover {
        color: black;
		text-decoration: none;
    }
}